h1 {
    width: 50%;

}

.chat {
    margin-left: 280px;
    gap: 10%;
    display: grid;
    grid-template-columns: 38% 30%;
    align-items: center;
}

.emailbtn {
    background: none;
    border-radius: 15px;
    border: 1px solid red;
    padding: 1rem 1.4rem;
    transition: yellow;
}

.icons {
align-items: center;
color: black;
}