.section1 {
    
    height: 60vh;
    overflow: hidden;
}

.section2 {
    margin-top: 30px;
    margin-left: 130px;

}

.section2 > h1 {

    color: yellow;
    height: 60px
}


.alexxo {
    width: 23rem;
    top: -3rem;
    position: absolute;
    margin-right: 80px;
    border-radius: 14rem 14rem 14rem 14rem;
    background: linear-gradient (var(--color-primary), transparent);
    right: calc(19% - 2rem);
    padding: 5rem 2rem;
}

.alexxo > img {

    border-radius: 4rem 4rem;
}