nav {

    width: max-content;
    position: fixed;
    padding: 0.6rem 2rem;
    border-radius: 24px;
    border: 2.8px solid var(--color-bg);
    z-index: 2;
    display: flex;
    gap: 2;
    margin-left: 600px;
    background: transparent;
    backdrop-filter: blur(3px);
    bottom: 3rem;
    cursor: pointer;
}

nav a {
    background: none;
    font-size: 1.3rem;
    padding: 0.2rem 0.9rem;
    align-items: center;
}

nav a:hover{
    background: var(--color-bg);
    border-radius: 18px;
}

nav a.active {
    background: var(--color-bg);
    border-radius: 18px;
}

.icon{
    background: transparent;
}

